
/*		Fonts		*/

@font-face {
    font-family: 'lato-black';
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/lato-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black.woff') format('woff'),
         url('../fonts/lato-black.ttf') format('truetype'),
         url('../fonts/lato-black.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light.woff') format('woff'),
         url('../fonts/lato-light.ttf') format('truetype'),
         url('../fonts/lato-light.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-hairline';
    src: url('../fonts/lato-hairline.eot');
    src: url('../fonts/lato-hairline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline.woff') format('woff'),
         url('../fonts/lato-hairline.ttf') format('truetype'),
         url('../fonts/lato-hairline.svg#LatoHairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#RalewayBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway-light.eot');
    src: url('../fonts/raleway-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light.woff') format('woff'),
         url('../fonts/raleway-light.ttf') format('truetype'),
         url('../fonts/raleway-light.svg#RalewayLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#RalewayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#RalewaySemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



* {
  box-sizing: border-box;
}

.bodyplan {
  background-color: #778899;
  color: #ffffff ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1024px) {
  .bodyplan > main {
    min-height: 65vh;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  
}


.a1{
	 color: #b82663;
}
.a1:hover {
    color : white ;
  
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (min-width: 1160px) {
  .container {
    padding: 0;
    width: 90%;
  }
}

.container-divider {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-page {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (min-width: 1160px) {
  .error-page {
    padding: 0;
    width: 90%;
  }
}

.dropdown-toggle::after {
  color: inherit;
}

/***** Buttons *****/
.button, [role="button"] {
  border: 1px solid rgba(0, 122, 191, 1);
  border-radius: 4px;
  color: rgba(0, 122, 191, 1);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 2.34;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  -webkit-touch-callout: none;
}

@media (min-width: 768px) {
  .button, [role="button"] {
    width: auto;
  }
}

.button::after, [role="button"]::after {
  color: rgba(0, 122, 191, 1);
}

.button:hover, .button:active, .button:focus, .button[aria-selected="true"], [role="button"]:hover, [role="button"]:active, [role="button"]:focus, [role="button"][aria-selected="true"] {
  background-color: rgba(0, 122, 191, 1);
  color: #778899;
  text-decoration: none;
}




/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .blocks-list {
    margin: 0 -15px;
  }
}

.blocks-item {
  border: 3px solid rgba(0, 122, 191, 1);
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0, 122, 191, 1);
  display: flex;
  flex: 1 0 340px;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 30px;
  max-width: 100%;
  text-align: center;
  background-color:white;
}

@media (min-width: 768px) {
  .blocks-item {
    margin: 0 15px 30px;
  }
}

.blocks-item:hover, .blocks-item:focus, .blocks-item:active {

  background-color: rgba(0, 122, 191, 1);
}

.blocks-item:hover *, .blocks-item:focus *, .blocks-item:active * {
  color: #FFFFFF;
  text-decoration: none;
}

.blocks-item-internal {
  background-color: transparent;
  border: 1px solid #ddd;
}

.blocks-item-internal .icon-lock::before {
  content: "\1F512";
  font-size: 15px;
  bottom: 5px;
  position: relative;
}

.blocks-item-internal a {
  color: #333333;
}

.blocks-item-link {
  color: rgba(0, 122, 191, 1);
  padding: 20px 30px;
}

.blocks-item-link:hover, .blocks-item-link:focus, .blocks-item-link:active {
  text-decoration: none;
}

.blocks-item-title {
  margin-bottom: 0;
}

.blocks-item-description {
  font-weight: 300;
  margin: 0;
}

.blocks-item-description:not(:empty) {
  margin-top: 10px;
}



.bouton_f_correction{
 width: 100px;
height: 30px;
background: #46a28d;
color: white !important;
font-weight: bold;
font-size: 12px;
border-radius: 00px !important;;
text-align: center !important;
display: block;
margin-left: auto;
margin-right: auto;
}
.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}
.bouton_valider {
 width: 380px;
height: 60px;
background: #46a28d;
color: white !important;
font-weight: bold;
font-size: 18px;
border-radius: 50px !important;;
text-align: center !important;
display: block;
margin-left: auto;
margin-right: auto;
}

.bouton_Correction{
width: 380px;
height: 60px;
background: #46a28d;
color: white !important;
font-weight: bold;
font-size: 18px;
border-radius: 40px;
text-align: center !important;
display: block;
margin-left: auto;
margin-right: auto;

}

.lib_imput{
    color: BLACK;
    font-size: 16px;
    font-weight: bold;
}
.bloc_correction
{
    width: 60%;
    background-color: white;
    color: black !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}


.bloc_plan{
    width: 60%;
    background-color: white;
    color: black !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.liste_statistiques
{
	width: 80%;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center !important;
 	
}

.bloc_presentation
{
    width: 60%;
    background-color: white;
    color: black !important;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.bloc_presentation2
{
	 width: 60%;
    background-color: white;
    color: black !important;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.bloc_parametres 
{
 width: 60%;
    background-color: white;
    color: black !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.bloc_statistiques 
{
 width: 60%;
    background-color: white;
    color: black !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.piechart {
	margin-left: auto;
    margin-right: auto;
 width: 60%;
}
.columnchart {
	margin-left: auto;
    margin-right: auto;
 width: 60%;
}

.centre_blocTexte{
    margin-left: auto;
    margin-right: auto;
    
}
.input_text{
    width: 85% !important;
}

.bloc_bareme {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.row{
    max-width:1140px;
    padding: 0 20px;
}
.home-title{
	font-family: "Jazz LET";
    color:white;
    text-align:center;
}	
.title-text{
	font-family: Times New Roman;
    color:white;
    text-align:center;
    font-size:25px;
}

.sous_partie_stat{
	color:black;
font-size: 12px;
text-align: center;
}

.presentation-text{
	color:white;
	text-align:center;
    margin-left: 30px;
    margin-right: 30px;	
}

.top-bar .toggle-topbar.menu-icon a span::after{
	right: 0;
}

.top-bar .toggle-topbar.menu-icon a{
	padding: 0 2rem 0 0.9375rem;
	color: black;
}


.top-bar,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section ul li,
.top-bar.expanded .title-area,
.no-js .top-bar-section ul li:hover > a{
	background: transparent;
	height: auto;
	line-height:normal;
	padding: 0;
	font-weight:bold;
}


.top-bar .name,
.top-bar .name h1,
.top-bar .name h2,
.top-bar .name h3,
.top-bar .name h4,
.top-bar .name span,
.top-bar .name p{
	line-height: normal;
	height: auto;
	font-size: 1.375rem;
}


.top-bar.expanded .toggle-topbar a{
	color: black;
}

.top-bar.expanded .toggle-topbar a span::after {
  box-shadow: 0 0 0 1px #fbdd90, 0 7px 0 1px #fbdd90, 0 14px 0 1px #fbdd90;
}



/*    Header    */

header{
	width: 100%;
	height: 130px;
	background: transparent;
}
.img_header{
	text-align:center;
}

.logo h1{
	text-decoration: none;
	color: black;
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}
.logo h2{
	text-decoration: none;
	color: white;
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.logo h1 .tld{
	font-family: "lato-hairline", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
}


table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto ;
}

td, th /* Mettre une bordure sur les td ET les th */
{
   padding: 0.5625rem 0.625rem;
    width: 50% !important;
    text-align: center;
}



header .logo{
	margin: 50px 0 0 0;
}

header nav{
	margin-top: 60px;
	width: 100%;
}

header .top-bar-section ul li a{
	color: black;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 30px;
	letter-spacing: .5px;
	text-align:center;
}s


header .top-bar-section ul li:last-child a{
	margin-right: 0;
}


header .top-bar-section li:not(.has-form) a:not(.button){
	-webkit-transition:all .2s linear;
	     -o-transition:all .2s linear;
	        transition:all .2s linear;
}

header .top-bar-section li:not(.has-form) a:not(.button):hover{
	background: #ffffff;
	color: #f46330;
}


/*    Services    */

.services{
	padding: 50px 0;
	background-color: #778899
}

.services .mean_title,
.services .sub_title{
	text-align: center;
	color: #ffffff;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
}


.services .mean_title{
	font-size: 30px;
	font-family: "raleway-bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.services .sub_title{
	font-size: 22px;
	font-family: "raleway-light", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	text-transform: lowercase;
}

.services .services_list{
	margin-top:60px;	text-align: center;
}

.services .services_list .serv_icon{
	margin-bottom: 60px;
}

.services .services_list p{
	color: #ffffff;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	height: 150px;
}

.services .title{
	color: #ffffff;
	font-family: "raleway-bold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px
}

.btn_holder{
	text-align: center;
}

.services .btn_fancy{
	margin-top: 100px;	
}


/*    Fancy Button    */

.btn_fancy{
	display: inline-block;
	position: relative;
	text-align: center;
	color: #ffffff;
	font-family: "raleway-bold", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 16px 36px;
	border-radius: 2px;
	background: transparent;
	-webkit-transition:all .2s ease-out;
	     -o-transition:all .2s ease-out;
	        transition:all .2s ease-out;
}

.btn_fancy .text_layer{
	position: relative;
}

.btn_fancy:hover,
.btn_fancy:focus{
	color: #454545;
}


.btn_fancy .border_layer{
	position: absolute;	
	top:0;
	left: 0;
	width: 100%;
	height: 100%;	
	border: 1px dashed #000000;
	-webkit-transition:all .2s ease-out;
	     -o-transition:all .2s ease-out;
	        transition:all .2s ease-out;
}

.btn_fancy .solid_layer{
	position: absolute;
	top: 4px;
	left: -4px;
	width: 100%;
	height: 100%;	
	background: #f46330;;
	border-radius: 2px;
	-webkit-transition:all .2s ease-out;
	     -o-transition:all .2s ease-out;
	        transition:all .2s ease-out;
}

.btn_fancy:hover .border_layer{
	-webkit-transform:translate(2px,-2px);
	    -ms-transform:translate(2px,-2px);
	     -o-transform:translate(2px,-2px);
	        transform:translate(2px,-2px);
}
.btn_fancy:hover .solid_layer{
	-webkit-transform:translate(-2px,2px);
	    -ms-transform:translate(-2px,2px);
	     -o-transform:translate(-2px,2px);
	        transform:translate(-2px,2px);
}


.cta{
	background: #ffffff;
	padding: 140px 0;
	background: url('../img/cubes.png') repeat;
	text-align: center;
}

.cta .title{
	color: #454545;
	font-family: "raleway-bold", Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.cta .sub_title{
	color: #454545;
	font-family: "raleway-light", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	text-transform: lowercase;
}

.cta .btn_fancy{
	margin-top: 60px;
}


/*    Footer    */

footer{
	background: #535353;
	padding-top: 15px;
}

footer .copyrights{
	float: left;
	margin-bottom: 15px;
}

footer .copyrights p{
	color: #c5c5c5;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: .5px;
}

footer .acces_details{
	max-width: 430px;
	float: right;
} 

footer .acces_footer{
	width: 130px;
	display: inline-block;
}

footer .acces_footer ul{
	margin: 0;
}

footer .acces_footer ul li{
	margin-bottom: 7px;
}

footer .acces_footer ul li a{
	display: inline-block;
	color: #fff;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.5px;
	
}



footer p{
	margin: 0;
	padding: 0;
}

/*  Back To Top button  */

#back_top{
	text-decoration: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	opacity: 0;
}

.btn_fancy#back_top{
	padding: 6px 16px;
}

.btn_fancy#back_top:hover .border_layer{
	-webkit-transform:translate(1px,-1px);
	    -ms-transform:translate(1px,-1px);
	     -o-transform:translate(1px,-1px);
	        transform:translate(1px,-1px);
}
.btn_fancy#back_top:hover .solid_layer{
	-webkit-transform:translate(-1px,1px);
	    -ms-transform:translate(-1px,1px);
	     -o-transform:translate(-1px,1px);
	        transform:translate(-1px,1px);
}




/*    Responsive CSS    */

@media only screen and (max-width: 40em){
	.top-bar .top-bar-section{
		display: none;
	}

	.top-bar.expanded .top-bar-section{
		display: block;
	}

	.top-bar-section ul{
		background: #ffffff;
		border-width: 2px;
    border-style: dotted;
	}

	.top-bar-section li:not(.has-form) a:not(.button){
	  color: #454545;
	  margin: 0;
	  display: block;
	  text-align: center;
	  padding: 20px 0;
	  background: #ffffff;
	  border-bottom: 1px solid #fff4d7;
	  -webkit-transition: all .2s linear;
	       -o-transition: all .2s linear;
	          transition: all .2s linear;
	}

	header .top-bar-section li:not(.has-form):last-child a:not(.button){
		border: 0;
	}

	header .top-bar-section li:not(.has-form) a:not(.button):hover{
		color: #ffffff;
		background: #f46330;
		padding: 20px 0;
	}



	footer .copyrights{
		width: 100%;
		text-align: center;
		margin-bottom: 60px;
	}


	footer .acces_footer.no-bullet{
		width: 100%;
		text-align: center !important;
		float: none;
		margin: 0;
	}


}



@media only screen and (min-width: 64.063em) {
	#back_top{
		right: 40px;
		bottom: 40px;
		margin-top: -22px;
	}	
}
