<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>FastEval</title>
        <link href="../content/css/main.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="../content/css/home.css" rel="stylesheet" type="text/css" media="screen" />

        <script type="text/javascript" src="../content/js/jquery-1.12.1.min.js"></script>
    </head>

    <body>
        <header>
            <div>
                <a href="../index.php">
                    <img src="../content/img/Logo_FastEval.png" alt="FastEval" style="padding-top: 40px;"/>

                    <div></div>
                </a>
            </div>
            <nav id="nav-primary">
                <ul>
                    <li><a href="../View/presentation.php" class="nav_link">PRESENTATION</a></li>
                    <li> <a href="../View/correction.php" class="nav_link">CORRECTION</a> </li>
                                <li><a href="../View/sujets.php" class="nav_link">SUJETS</a></li>
                    <li><a href="../View/statistiques.php" class="nav_link">STATISTIQUES</a></li>
                    <li> <a href="../View/parametre.php" class="nav_link">PARAMETRES</a> </li>
                </ul>
            </nav>
        </header>
