/**
 * Description of home.css
 *
 * @author FONSECA NASCIMENTO Mélanie
 */

.home.content {
    background-size: cover;
    min-height: 600px;
    height: 100%;
}

.home .container {
    color: white;
    height: auto;
    position: relative;
    margin: auto;
    opacity: 0;
    top: 200px;
    -webkit-transition: top 1s ease-out, opacity 1s ease 0.3s;
    -moz-transition: top 1s ease-out, opacity 1s ease 0.3s;
    -o-transition: top 1s ease-out, opacity 1s ease 0.3s;
    transition: top 1s ease-out, opacity 1s ease 0.3s;
    width: 1300px;
}

.home .container.load {
    opacity: 1;
    top: 75px;
}

.home-title {
    margin: auto;
    width: 650px;
}

.home-title h1, h2 {
    margin: 0;
}

#home-title-welcome {
    font-size: 40px;
    text-align: center;
}

.home .container img {
    display: inline-block;
    margin-left: 5px;
}

.home .container table {
    margin: auto;
}

.home .container table tr td {
    padding: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    margin: 20px;
    padding: 20px;
    width: 290px;
}

.card h2 {
    margin-bottom: 30px;
}

.card p {
    font-size: 18px;
}

.card button {
    position: absolute;
    bottom: 90px;
}